{% extends "shop/base.html" %}

{% block title %}
    О нас
{% endblock %}

{% block content %}
    <br><br><br><h3>Кондитерский магазин.</h3>
    <p>
        <h5>Кондитерский магазин в Ростове-на-Дону предлагает свои услуги как домохозяйкам,
    так и специализированным заведениям − кофейням, ресторанам, кондитерским цехам.
    Для производства кондитерской продукции в массовых масштабах и создания кулинарных шедевров на дому у нас есть профессиональный кондитерский инвентарь.</h5>
    </p>
    <h5>Адрес: ул. Тургеневская 48</h5>
{% endblock %}