{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <br>
    <h3 class="sec-popular-goods_title title-h3">
        {% if category %}
            {{ category.name }}
        {% else %}
            НОВИНКИ
        {% endif %}
    </h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
            <div class="col" style="max-width: 25%;">
                <div class="card h-100" >
                    <a href="{{ product.get_absolute_url }}" style="text-align:center">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'shop/img/no_image.png' %}{% endif %}" class="card-img-top" style="margin-top:15px;height:75%;width:50%" alt="...">
                    </a>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center; margin-top:25px">{{ product.title }}</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted" style="font-size: 18px">₽ {{ product.price }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}